{
    "overrides": [
        {
            "files": [
                "*.js",
                "*.ts"
            ],
            "options": {
                "printWidth": 100,
                "tabWidth": 4,
                "useTabs": false,
                "bracketSpacing": false,
                "semi": true,
                "explicitTypes": "always"
            }
        },
        {
            "files": ".prettierrc",
            "options": {
                "parser": "json"
            }
        }
    ]
}